<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="/">World of Books</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'book_home' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Category
                    </a>
                    <ul class="dropdown-menu">
                        {% for i in category_list %}
                        <li>
                            <a class="dropdown-item" href="/filter/category/{{ i.id }}">
                                {{ i.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search" method="get" action="{% url 'search_by' %}">
                <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}
            <div>
                <a href="" class="btn btn-outline-success">{{ user.username }}</a>
                <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
            </div>
            {% else %}
            <div>
                <a href="{% url 'my_login' %}" class="btn btn-primary">Login</a>
                <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>